h2{
    font-family: Verdana;
    font-size: 16px;
    padding-left: 10px;
}

p{
    font-family: Verdana;
    font-size: 12px;
    padding-left: 10px;
}

img{
    padding-left: 10px;
    max-height: 400px;
}
