.detail{
    display: inline-block;
}

img{
    height: auto;
    max-width:300px;
    padding-left: 20px;
    float: left;
}

p{
    font-family: Verdana;
    font-size: 12px;    
    padding-left: 20px;
}

img + p{
    font-family: Verdana;
    font-size: 12px;    
    padding-left: 350px !important;
    max-width:600px;
}

h2{
    margin-top: 5px;
    font-family: Verdana;
    font-size: 16px;
    padding-top: 30px;
    margin-left: 20px;
}

li{
    font-family: Verdana;
    margin-left: 20px;
}
