<div>
    <h2>{{title}}</h2>
    <p>Le cumulus permet de chauffer l'eau de la maison. Ci-dessous son fonctionnement.</p>
    <div class="detail">
        <img src="resources/img/home/cumulus.jpg" />
        <p>
            On observe sous le cumulus: un robinet d'arrivée d'eau (en rouge) et une vanne de vidange (en bleu).<br/>
            <li>A chaque départ/arrivée, fermer/ouvrir la vanne d'arrivée d'eau.</li>
            <li>A chaque départ, après avoir fermer la vanne d'arrivée, tourner d'un quart la vanne de vidange pour diver le
                cumulus.</li>
            <li>A chaque départ, penser à ouvrir les robinets de la cuisine et de la salle de bain, pour éviter le gel des canalisations.</li>
        </p>
    </div>
</div>