<h1>{{title}}</h1>
<main>
    <div class="menu">
        <h2>Menu</h2>
        <ul>

            <li><a [routerLink]="['/home']" routerLinkActive="active">Accueil</a></li>
            <li>Piscine
                <ul>
                    <li><a [routerLink]="['/shed']" routerLinkActive="active">Cabanon de la Piscine</a></li>
                    <li><a [routerLink]="['/pool']" routerLinkActive="active">Bassin</a></li>
                    <li><a [routerLink]="['/custom']" routerLinkActive="active">Différents modes</a></li>
                </ul>
            </li>
            <li>Maison
                <ul>
                    <li>Arrivée d'eau (jardin)</li>
                    <li>Arrivée d'eau (maison)</li>
                    <li>Cumulus</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
</main>