<div>
    <h2>{{title}}</h2>
    <p>Tableau électrique de la maison.</p>
    <div class="detail">
        <img src="resources/img/home/electricity.jpg" />
        <p>
            <li>En noir : l'interrupteur principal, une fois coupée, il n'y a plus d'électricité.</li>
            <li>En rouge : le dijonteur controlant l'électricité de la maison et de la piscine.</li>
            <li>En orange : le dijonteur controlant l'électricité du cumulus.</li>
            <li>En vert : le dijonteur controlant le système de chauffage.</li>
            <li>En bleu : le dijonteur controlant l'électricité du studio.</li>
        </p>
    </div>
</div>